button {
    width: 200px;
}

.back {
    font-weight: bold;
}

.imgbox {
    display: grid;
    height: 100%;
    vertical-align: bottom;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

body {
    margin: 0;
}

.section {
    width: 99%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.odd {
    background-color: white;
}

.even {
    background-color: lightgray;
}

#sr_table2 {
    /*border-collapse:separate;*/
    /*border:solid black 1px;*/
    /*border-radius:6px;*/
    /*-moz-border-radius:6px;*/
}
